config.stopBubbling = false
#lombok.anyconstructor.addconstructorproperties=false
#lombok.addLombokGeneratedAnnotation = true
lombok.addSuppressWarnings = false
lombok.log4j2.fieldIsStatic = false
# Set root logger to output only ERROR and FATAL events to R appender

# Define R appender to output to local log
#log4j.appender.R=org.apache.log4j.DailyRollingFileAppender
#log4j.appender.R.file=D:/logs/abc.log
#log4j.appender.R.layout=org.apache.log4j.PatternLayout
#log4j.appender.R.layout.ConversionPattern=%d %-5p %c - %m%n
